* {
  box-sizing: border-box;
}

/* Color variables */
:root {
  --dark-grey: #888;
  --green: #2ecc71;
  --grey: #f7f7f7;
  --light-grey: #f0f0f0;
  --orange: #f37335;
  --red: #e74c3c;
  --white: #ffffff;
}

/* Main body */

body {
  margin: 0rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--orange);
}

/* Headings */

.h2 {
  font-size: 1.5rem
}

/* Header menu */

.header {
  background-color: var(--light-grey);
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0,0,0,0.5);
}

.header ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--light-grey);
}

.header li {
  float: left;
}

.header li a {
  display: block;
  padding: 2rem 2rem;
  text-decoration: none;
  color: black;
  padding: 1rem 3rem;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--dark-grey);
}

.header .menu {
  clear: none;
  float: right;
  max-height: none;
}

/* Success and failure modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal__content {
  position: relative;
  background-color: var(--light-grey);
  margin: 10% auto;
  padding: 1.25rem;
  border: .125rem solid var(--dark-grey);
  width: 50%;
  border-radius: 0.375rem;
  text-align: center;
}

.modal__close {
  color: var(--dark-grey);
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Cookie bar */

.cookie-banner {
  display: none;
}

/* Main page content */

.main {
  display: flex;
  align-items: center;
  max-width: 95rem;
}

.container {
  background-color: white;
  border-radius: .375rem;
  box-shadow: 0 .125rem .375rem rgba(0, 0, 0, 0.3);
  min-width: 19rem;
  width: 100%;
  overflow: hidden;
  margin: 1.5rem;
}

.column {
  flex: 40%;
}

.row {
  display: flex;
}

.button {
  border-radius: .25rem;
  padding: .625rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.button__primary {
  background-color: var(--orange);
  border: .125rem solid var(--orange);
  color: var(--light-grey);
  width: 100%;
}

.button:after {
  content: "";
  background: var(--light-grey);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -1.25rem!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

button:disabled,
button[disabled]{
  background-color: var(--light-grey);
  color: var(--dark-grey);
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Doggo pictures grid */

.photos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5rem;
  gap: .5rem;
}

.photos img {
  border-radius: 0.5rem;
  border: .125rem solid var(--light-grey);
  max-width: calc(33% - 1rem);
  object-fit: cover;
}

/* Create your profile form */

.profile__header {
  background-color: #f7f7f7;
  border-bottom: .125rem solid #f0f0f0;
  padding: 1.25rem 2.5rem;
  text-align: center;
}

.profile__header h2 {
  margin: 0;
}

.form {
  padding: 1.875rem 2.5rem;
}

.form__control {
  margin-bottom: 0.625rem;
  padding-bottom: 1.25rem;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form__control label {
  display: inline-block;
  margin-bottom: 0.375rem;
}

.form__control input,
.form__control select
{
  border: 0.125rem solid var(--light-grey);
  border-radius: .25rem;
  display: block;
  font-family: inherit;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.625rem;
  outline-color: var(--orange);
}

.form__control.success input,
.form__control.success select
{
  border-color: var(--green);
}

.form__control.error input,
.form__control.error select
{
  border-color: var(--red);
}

.form__control i {
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 0.125rem);
}

.form__control-input {
  position: relative;
}

.form__control.success i.fa-check-circle {
  visibility: visible;
  color: var(--green);
}

.form__control.error i.fa-exclamation-circle {
  visibility: visible;
  color: var(--red);
}

.form__control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
}

.form__control.error small {
  color: var(--red);
  visibility: visible;
}

.form button {
  width: 100%;
}